<% provide(:title, "About") %>
<h1>About</h1>
<p>
This app connects runners of all different backgrounds and abilities to form strong communities and connections.
Runners have the option to be a guide for those who want extra support for running activites both in training and races.
Runner who are blind, deaf/HoH, new to running or just want some running companionship are all welcome to post here.
</p>